<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="popularmovies.app9ation.xyz.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="popularmovies.app9ation.xyz.popularmovies.MainActivity" />
        </activity>

        <!-- Content Provider for saving favorite movies -->

         <provider
             android:authorities="@string/content_authority"
             android:multiprocess="true"
             android:name=".data.MovieProvider"/>

        <!-- CheckMovieInFavoriteService -->

         <service android:name=".service.CheckMovieInFavoritesService">

         </service>

    </application>

</manifest>
